* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

#pricing,
#features {
    scroll-margin-top: 30px;
}

#contact {
    scroll-margin-top: 80px;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f6f4f4;
    border-radius: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 14px;
}

/* Common */
a {
    display: inline-block;
    text-decoration: none;
    user-select: none;
}

.main-content {
    max-width: calc(100% - 48px);
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.lv1 {
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.lv2 {
    font-size: 4.2rem;
    line-height: 1.33; /* 133.333% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.control {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn {
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    margin: 0 20px;
}

/* Header */
.header.fixed {
    position: sticky;
    top: -40px;
    z-index: 2;
    background-color: #fff;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 12px;
}

.nav ul {
    display: flex;
}

.nav ul a {
    color: #2f3a3b;
    font-size: 1.6rem;
    line-height: normal;
    padding: 10px 20px;
}

.nav li:hover {
    font-weight: 600;
}

.nav-btn {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    line-height: normal;
    padding: 10px;
}

.nav-btn:hover {
    color: var(--primary-color);
}

.nav-btn + .nav-btn {
    margin-left: 24px;
}

.nav-btn.active {
    color: var(--primary-color);
    font-weight: 600;
    line-height: 48px;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    min-width: 106px;
}

.nav-btn.active:hover {
    color: #fff;
    background: var(--primary-color);
}
/* Hero */
.hero {
    padding: 38px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .hero-content {
    width: 45%;
}

.hero-content .text {
    margin-top: 93px;
    color: #767e7e;
    font-size: 1.4rem;
    line-height: normal;
}

.hero-content .heading {
    margin-top: 18px;
}

.hero-content .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
    word-break: normal;
}

.hero-content .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}
.hero-content .cta-group .btn {
    margin-right: 50px;
}

.hero-content .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .hero-media {
    width: 55%;
    position: relative;
    top: 0;
}

.hero-media .img {
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-media .course-card {
    position: absolute;
    top: 149px;
    left: 25px;
    display: flex;
    align-items: center;
    width: 157px;
    padding: 18px 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero-media .course-card .label {
    margin-left: 16px;
}

.hero-media .schedules-card {
    position: absolute;
    left: 0;
    bottom: 46px;
    width: 124px;
    text-align: center;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .schedules-card .level {
    margin-top: 12px;
    vertical-align: bottom;
}

.schedules-card .level:nth-of-type(1),
.schedules-card .level:nth-of-type(4) {
    margin-top: 16px;
}

.hero-media .students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .students .avatar-block {
    margin-top: 8px;
    display: flex;
}

.hero-media .students .avatar {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.hero-media .avatar span {
    color: #fff;
}

.hero-media .students .avatar + .avatar {
    margin-left: -7px;
}

/* Features */
.features {
    margin-top: 65px;
    padding: 65px 0 60px;
}

.features .content {
    width: 1014px;
    margin-right: auto;
}

.features .head {
    width: 57.6%;
}

.features .head .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-top .heading,
.features .head .heading {
    margin-top: 18px;
}

.features .head .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

.features .body {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features .body .item {
    width: 21.875%;
}

.features .body .item:first-child {
    width: 16.6%;
}

.features .body .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features .body .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69; /* 168.75% */
}

/* Courses */
.courses {
    padding: 60px 0;
    margin-top: 10px;
}

.courses-top .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-top .holder {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-top .desc {
    width: 44.87%;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

.courses-body .hide,
.courses-top .cta {
    border: none;
    background-color: #fff;
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
}

.courses-body {
    padding-bottom: 30px;
}

.courses-list {
    display: flex;
    margin-top: 16px;
}

.courses-item {
    position: relative;
    width: calc((100% - 94px) / 3);
    height: 517px;
    flex-shrink: 0;
}

.courses-item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
    vertical-align: bottom;
}

.courses-item .info {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: 0;
    height: 195px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-item .info .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-item .info .cost {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
}

.courses-item .info .cost strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-item .aside,
.courses-item .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses-item .aside {
    margin-top: 18px;
}

.courses-item .aside span {
    position: relative;
    margin: 0 10px 0 16px;
}

.courses-item .aside span::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.courses .main-content {
    overflow: hidden;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color); /* Màu sắc chấm đang active */
    transform: scale(1.1); /* Phóng to chấm đang active */
}

/* Show item */
.courses-body.show .courses-list {
    gap: 47px;
    flex-wrap: wrap;
    height: 500px;
    overflow: auto;
    overscroll-behavior: none;
}

.courses-body.show .courses-control {
    display: none;
}

.courses .hide {
    display: none;
}

.courses-body.show .hide {
    display: block;
}

.courses-body .hide {
    margin-left: auto;
    margin-top: 25px;
}

/* Countdown */
.countdown {
    margin-top: 20px;
}

.countdown .main-content {
    width: 862px;
}

.countdown .section {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.countdown .item {
    text-align: center;
}

.countdown .data {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.countdown .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

/* Testimonial */
.testimonial {
    padding: 100px 0 75px;
    margin-top: 64px;
}

.testimonial .main-content {
    overflow: hidden;
}

.testimonial .body {
    display: flex;
}

.testimonial .body-item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.testimonial .section {
    width: 39%;
}

.testimonial blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
}

.testimonial blockquote cite {
    margin-top: 33px;
    display: block;
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
}

.testimonial cite strong {
    color: #070707;
    font-weight: 500;
}

.testimonial .avatar-block {
    position: relative;
    width: 61%;
    height: 481px;
}

.testimonial .avatar-block .image {
    position: absolute;
    border-radius: 50%;
    vertical-align: bottom;
    object-fit: cover;
}

.testimonial .avatar-block .img-78 {
    width: 78px;
    height: 78px;
}

.testimonial .avatar-block .img-92 {
    left: 216px;
    top: 0;
    width: 92px;
    height: 92px;
}

.testimonial .avatar-block .img-110 {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.testimonial .avatar-block .img-235 {
    right: 171px;
    top: 107px;
    width: 235px;
    height: 235px;
}

.testimonial .avatar-block .img-78:first-of-type {
    left: 72px;
    bottom: 144px;
}

.testimonial .avatar-block .img-78:nth-of-type(2) {
    left: 284px;
    bottom: 0;
}

.testimonial .avatar-block .img-78:nth-of-type(3) {
    right: 32px;
    bottom: 29px;
}

/* Cta-block */
.cta-block {
    background-color: #def6f5;
    padding: 66px 0 88px;
}

.cta-block .cta-body {
    display: flex;
    align-items: center;
}

.cta-body .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

.cta-body .cta-content {
    width: 36%;
}

.cta-body .btn {
    margin: 0 154px 0 auto;
}

/* Footer */
.footer {
    padding: 131px 0 50px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.footer .column:first-of-type {
    width: 7.78%;
}

.footer .column:nth-of-type(4),
.footer .column:nth-of-type(2) {
    width: 9.66%;
}

.footer .column:nth-of-type(3) {
    width: 13.42%;
}

.footer .column a {
    color: #535353;
    font-size: 1.6rem;
    line-height: normal;
}

.footer .column ul {
    margin-top: 25px;
}

.footer .column li + li {
    margin-top: 18px;
}

.footer .copyright {
    margin-top: 80px;
    color: #b0b5b4;
    font-size: 1.8rem;
    line-height: normal;
    text-align: center;
}

.footer .row .column:last-of-type a {
    display: flex;
    align-items: center;
}

.footer .column .icon-social {
    margin-right: 9px;
}

.footer .column a:hover{
    color: var(--primary-color);
}

.footer .column a:hover .icon-social {
    scale: 1.2;
}
